# region django server
asgiref==3.2.3
Django==2.2.10
pytz==2019.3
sqlparse==0.2.4
djangorestframework==3.11.0
djongo==1.3.1
daphne==2.4.1
channels==2.4.0
channels-redis==2.4.2
django-eventstream==3.1.0
django-cors-headers==3.2.1
djangorestframework-api-key==1.4.1
gunicorn==20.0.4
uwsgi==2.0.18
django-storages==1.9.1
django-filter==2.2.0
# endregion

# region databases
pymongo==3.7.0
elasticsearch==6.3.1
boto3==1.12.7
# endregion


# region text processing
konlpy==0.4.4
JPype1==0.6.3
JPype1-py3==0.5.5.2

bs4==0.0.1
lxml==4.5.0

nltk==3.2.5

gensim==3.5.0
# endregion


absl-py==0.6.1
aioredis==1.3.1
alabaster==0.7.11
appnope==0.1.0
arrow==0.12.1
astor==0.7.1
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.2.1
Automat==20.2.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==2.1.3
blessed==1.15.0
bson==0.5.8
bz2file==0.98
cached-property==1.5.1
cement==2.8.2
certifi==2018.10.15
cffi==1.14.0
chardet==3.0.4
click==6.6
colorama==0.3.9
constantly==15.1.0
cryptography==2.8
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.0
docker==3.5.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
Faker==2.0.0
feedfinder2==0.0.4
feedparser==5.2.1
flake8==3.5.0
futures==3.1.1
gast==0.2.0
google-api-python-client==1.6.7
gripcontrol==4.0.0
grpcio==1.17.0
h5py==2.8.0
hiredis==1.0.1
html5lib==1.0.1
httplib2==0.11.3
hyperlink==19.0.0
idna==2.6
imagesize==1.0.0
incremental==17.5.0
inflect==1.0.0
ipykernel==4.8.2
ipython==5.0.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
jedi==0.15.1
jieba3k==0.35.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.3.1
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
langdetect==1.0.7
Markdown==3.0.1
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
msgpack==0.6.2
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
newspaper3k==0.2.7
notebook==5.6.0
numpy==1.14.5
oauth2client==4.1.2
opencv-python==3.4.4.19
packaging==17.1
pandas==0.23.3
pandocfilters==1.4.2
parso==0.5.1
pathspec==0.5.5
pew==1.1.2
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pipenv==9.0.3
prometheus-client==0.3.0
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
pubcontrol==3.0.0
pyahocorasick==1.1.8
pyaml==15.8.2
pyasn1==0.4.4
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycparser==2.19
pyflakes==1.6.0
Pygments==2.2.0
PyHamcrest==2.0.0
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.6.1
python-engineio==3.11.2
python-socketio==4.4.0
PyYAML==3.13
pyzmq==17.1.0
qtconsole==4.3.1
quantulum3==0.2.8
rake-nltk==1.0.4
requests==2.18.4
requests-file==1.4.3
rsa==3.4.2
scapy-python3==0.25
scikit-learn==0.19.2
scipy==1.0.0
semantic-version==2.5.0
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
smart-open==1.6.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
stemming==1.0.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
text-unidecode==1.2
textrankr==0.3
texttable==0.9.1
tinysegmenter==0.3
tldextract==2.2.0
tornado==5.1
traitlets==4.3.2
Twisted==19.10.0
txaio==20.1.1
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.15.3
widgetsnbextension==3.2.1
zope.interface==4.7.1
